[build]
rustflags = ["-C", "target-cpu=native"]

[target.aarch64-apple-darwin]
rustflags = [
  "-C", "target-cpu=native",
  "-C", "target-feature=+aes,+sha2,+fp16,+i8mm",
]

[target.x86_64-apple-darwin]
rustflags = [
  "-C", "target-cpu=native",
  "-C", "target-feature=-avx,-avx2",
]

[target.wasm32-unknown-unknown]
rustflags = ["-C", "target-feature=+simd128"]
