name: docs

on:
  push:
    branches: ["master"]

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    if: github.repository == 'EricLBuehler/mistral.rs'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Setup mdbook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: 'latest'

      - name: Setup Pages
        uses: actions/configure-pages@v5

      # Build mdbook (main documentation)
      - name: Build mdbook
        run: mdbook build docs

      # Build Python docs
      - name: Build Python docs
        run: |
          python3 -m venv myenv
          source myenv/bin/activate
          pip install maturin[patchelf] pdoc
          cd mistralrs-pyo3
          maturin develop
          cd ..
          pdoc mistralrs -o ./docs/book/pyo3

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./docs/book
